/* ==========================================================================
LAYOUT
========================================================================== */
body {
    color: #666756;
}

header {
    border-bottom: 3px solid #bbb;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.block-avatar {
    margin-top: 15px;
}

.block-avatar .img-avatar {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-left: 5px;

}
.block-avatar .img-avatar-full {
    display: none;
}

@media (max-width: 768px) {
    .block-avatar .img-avatar {
        display: none;
    }
    .block-avatar .img-avatar-full {
        display: block;
        width: 100%;
        max-height: 100%;
    }
}

.block-title {
    text-transform: uppercase;
}

#main-container {
    margin-bottom: 60px;
}

/* ==========================================================================
MODULES
========================================================================== */
.block-portfolio .title {
    color: #BCBBBB;
}

.project {
    margin-bottom: 30px;
}

.proj-img {
    border: 1px solid #bbb;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 2px;
    box-shadow: 2px 2px 2px #ccc;

}

.proj-caption {
    text-align: center;
}

.proj-url {
    color: #666756;
}
.proj-url:hover,
.proj-url:focus {
    color: #666756;
    text-decoration: none;
}

.proj-img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

/* ==========================================================================
UTILITIES
========================================================================== */





